html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: rgb(2, 0, 36);

  /* css to insert dynamically vvv */
  /* animation: blinkingBackground 1s infinite; */
}

@keyframes blinkingBackground {
  0% {
    background-color: #10c018;
  }
  25% {
    background-color: #1056c0;
  }
  50% {
    background-color: #ef0a1a;
  }
  75% {
    background-color: #254878;
  }
  100% {
    background-color: #04a1d5;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

.timer {
  font-weight: 700;
  font-size: 10rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.preset-minutes {
  display: flex;
}

.preset-minutes > * {
  flex: 1;
}

.preset-minutes form {
  flex: 1;
  display: flex;
}

.preset-minutes input {
  flex: 1;
  border: 0;
  padding: 2rem;
  text-emphasis: center;
}

.timer-nav-button {
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;

  background: rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.timer-nav-button:hover,
.timer-nav-button:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.display-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-time {
  font-size: 3rem;
  font-weight: 100;
  color: white;
}

.restart-button {
  width: 11rem;
  height: 3.7rem;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  background: rgb(2, 0, 36);
  display: none;
}
